hm: homerow_mods {
    compatible = "zmk,behavior-hold-tap";
    label = "HOMEROW_MODS";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick_tap_ms = <175>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

hl: homerow_layers {
    compatible = "zmk,behavior-hold-tap";
    label = "HOMEROW_LAYERS";
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    // quick_tap_ms = <175>;
    // global-quick-tap;
    flavor = "balanced";
    bindings = <&mo>, <&kp>;
};

space_alt: space_alt {
  compatible = "zmk,behavior-mod-morph";
  label = "space_alt";
  #binding-cells = <0>;
  bindings = <&kp SPACE>, <&kp RALT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
};

lshift_capsword: lshift_capsword {
    compatible = "zmk,behavior-tap-dance";
    label = "LSHIFT CAPS_WORD";
    #binding-cells = <0>;
    tapping-term-ms = <200>;
    bindings = <&kp LSHIFT>, <&caps_word>;
};

rshift_capsword: rshift_capsword {
    compatible = "zmk,behavior-tap-dance";
    label = "RSHIFT CAPS_WORD";
    #binding-cells = <0>;
    tapping-term-ms = <200>;
    bindings = <&kp RSHIFT>, <&caps_word>;
};

del_layer: del_layer {
    compatible = "zmk,behavior-tap-dance";
    label = "DEL LAYER";
    #binding-cells = <0>;
    tapping-term-ms = <500>;
    bindings = <&mo SP>, <&kp DEL>;
};
